files:
  "/etc/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        server_name _;
        
        # Match both with and without trailing slash
        location ~ ^/health/?$ {
            return 200;
        }
        
        # For all other requests, redirect to HTTPS
        location / {
            return 301 https://$host$request_uri;
    }
}
